// app global css in SCSS form

.table-container {
    .data-table {
        table {
            tbody {
                tr:nth-child(odd) {
                    background: #f7f7f7;
                }
                tr:hover {
                    background-color: #f0f0f0;
                }
            }
        }
    }
}

.no-data {
    h5 {
        padding: 0;
        margin: 0;
        color: $label-accent;
    }
    span {
        color: $label;
    }
}

.chart-panel {
    border: 1px solid #ddd;
    background: #fdfdfd;
    text-align: center;
    margin-top: 5px;
    .chart {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
}

.value-up {
    color: $value-up;
}

.value-down {
    color: $value-down;
}