// app global css in SCSS form

body {
    // overflow: hidden;
}

.page-container {
    height: 100%;
}

.table-container {
    .data-table {
        table {

            thead tr th {
                position: sticky;
                z-index: 2;
                top: 0;
                background: white;
            }

            tbody {
                tr:nth-child(odd) {
                    background: #f7f7f7;
                }
                tr:hover {
                    background-color: #f0f0f0;
                }
            }
        }

        &.sticky-first-column {
            th:first-child, td:first-child {
                position: sticky;
                left: 0;
                z-index: 3;
            }

            td:first-child {
                background-color: $accent-column;
                z-index: 1;
            }
        }

        &.sticky-last-column {
            th:last-child, td:last-child {
                position: sticky;
                right: 0;
                z-index: 2;
            }

            td:last-child {
                background-color: $accent-column;
                z-index: 1;
            }
        }
    }
}

.no-data {
    h5 {
        padding: 0;
        margin: 0;
        color: $label-accent;
    }
    span {
        color: $label;
    }
}

.chart-panel {
    border: 1px solid #ddd;
    background: #fdfdfd;
    text-align: center;
    margin-top: 5px;
    .chart {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
}

.value-up {
    color: $value-up;
}

.value-down {
    color: $value-down;
}